.explain {
	background-color: rgb(63, 155, 155);
	padding: 50px;
	max-width: 1200px;
}

.tagline {
	color: rgba(191, 63, 191, 0.59);
	font-weight: 700;
}

.subtagline {
	text-align: center;
}

.enterbalance {
	background-image: url("./../images/coins.jpg");
	opacity: 0.4;
	background-size: 1200px 500px; 
	padding: 70px;
	max-width: 1200px;
}

.instruction {
	font-size: 20px;
	text-align: center;
	font-color: black;
}

.balanceinput {
	display: block;
	height: 50px;
	text-align: center;
}