.centerform{
	display: inline-block;
	width: 50%;
  margin-left: 33%;
  margin-right: 33%;
	margin-top: 1rem;
	border: 0.5rem solid orange;
	padding: 2rem;
	border-radius: 20%;
}

.instruction {
	font-size: 20px;
	font-color: black;
	display: block;
	text-align: center;
}

.inputnetworth {
	height: 45px;
	margin: 0 auto; 
}

.btn {
	display: inline;
}

ul {
	text-align: left;
	max-width: 1200px;
	list-style: none;
}

h2 {
	text-align: center;
	padding: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin-bottom: 0;
}

.listcontainer {
margin: 0 auto;
width: 60%;
}

.personname {
	color: #2a8791;
	display: inline;
	padding: 2rem;
	font-size: 1.7rem;
	font-family: 'Architects Daughter', cursive;
}

.personpic {
	display: inline;
	margin-bottom: 1rem;
	border-radius: 40%;
}

.personval {
	color: #2a8791;
	display: inline;
	font-size: 1.2rem;
	font-family: 'Architects Daughter', cursive;
}

.youspecial {
	color: red;
}
