.navbar {
	font-family: 'Lato', sans-serif;
}

.divider {
	height: 20px;
	width: 1200px;
	background-color: #2a8791;
}


.jumbotron {
	max-width: 1200px;
	background: linear-gradient(150deg, #2a8791, #7af3b0);
	margin-bottom: 2px;
}


.transparentback {
	background-color: none;
	padding: 30px;
	border-radius: 10px;
}


.display-3 {
	font-family: 'Lato', sans-serif;
	font-weight: 400; 
	color: white; 
}

.lead {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.introbackground{
	background-color: rgba(3, 184, 175, 0.4);
	background-image: url("./../images/bubbles1.jpg");
	background-size: 1200px;
	max-width: 1200px; 
	padding-top: 50px;
}

h1 {
	text-align: center;
	padding-bottom: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 700; 
	color: #2a8791;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 400; 
}

.row {
	padding-top: 20px;
}

.card-title {
	font-weight: 700; 
	text-align: center;
}

.card-text {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 300; 
	text-align: center;
}

.roundicon {
	height: 70px;
	width: 70px; 
	margin-left: 170px;
	border: 2px solid #f0ad4e;
	border-radius: 40%;
}

.cardbutton{
	margin-left: 120px; 
}
