* {
	box-sizing: border-box;
}

.navbar {
	font-family: 'Lato', sans-serif;
}

.divider {
	height: 0.5rem;
	width: 100%;
	background-color: #2a8791;
}


.jumbotron {
	max-width: 100%;
	background: linear-gradient(150deg, #2a8791, #7af3b0);
	margin-bottom: 0;
}


.transparentback {
	background-color: none;
	padding: 2rem;
	border-radius: 10px;
}


.display-3 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: white;
}

.lead {
	text-align: center;
	font-family: 'Architects Daughter', cursive;
	font-weight: 400;
	font-size: 2rem;
}

.introbackground{
	background-color: rgba(3, 184, 175, 0.4);
	background-image: url("./../images/bubbles1.jpg");
	background-size: 100%;
	max-width: 100%;
	padding-top: 2rem;
}

h1 {
	text-align: center;
	padding-bottom: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #2a8791;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.row {
	padding-top: 20px;
}

.card-title {
	font-weight: 700;
	text-align: center;
}

.card-text {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: center;
}

.roundicon {
	height: 70px;
	width: 70px;
	margin-left: 170px;
	border: 2px solid #f0ad4e;
	border-radius: 40%;
}

.cardbutton{
	margin-left: 120px;
}

.explain {
	background: linear-gradient(150deg, #2a8791, #7af3b0);
	padding: 2rem;
	max-width: 100%;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

.tagline {
	color: white;
	font-weight: 700;
}

.subtagline {
	text-align: center;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}
