.navbar {
	font-family: 'Lato', sans-serif;
}


.divider {
	height: 20px;
	width: 1200px;
	background-color: #2a8791;
}


.jumbotron {
	max-width: 1200px;
	background: linear-gradient(150deg, #2a8791, #7af3b0);
	/*background-image: url("./../images/computer.jpeg");*/
	margin-bottom: 2px;
}


.transparentback {
	background-color: none;
	padding: 30px;
	border-radius: 10px;
}

.tools {
	background-color: rgba(3, 184, 175, 0.4);
	background-image: url("./../images/dreamcatcher.jpg");
	background-size: 1200px; 
}

.display-3 {
	font-family: 'Lato', sans-serif;
	font-weight: 400; 
	color: white; 
}

h1 {
	text-align: center;
	padding: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 400; 
}

.lead {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}


h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 400; 
}

.description {
	font-size: 18px;
	padding-left: 50px;
	padding-right: 50px;
	font-family: 'Lato', sans-serif;
	font-weight: 300; 
}

.descriptionimage {
	margin-bottom: 10px;
}

.youcan {
	text-align: center;
}
